.modal-drop{
			font-family:"Î¢ÈíÑÅºÚ";
	        position: fixed;
	        top: 0;
	        left: 0;
	        right: 0;
	        bottom: 0;
	        z-index: 1040;
	        background: #111;
	        transition: opacity .2s linear;
	        opacity: .1;
	        display: none;
	    }
	    .modal-drop>.modal-dialog{
	    	background: white;
	    	width: 400px;
	    	opacity: 1;
	    	margin: 80px auto;
	    	text-align: center;
	    	border-radius: 6px;
	    	padding: .1px 0;
	    	box-shadow: 0 3px 10px 10px #000;
	    	transition: all .5s ease-in-out;
	    	position: relative;
	    	transform:translateY(-500px); 
	    }
	    .modal-dialog>.row{
	    	padding: 10px 0 20px 0;

	    }
	    .modal-dialog>.title{
			border-radius:5px;
	    	text-align: left;
	    	padding: 5px 10px;
	    	height: 1.6rem;
	    	line-height: 1.6rem;
	    	font-size: 1rem;
	    	background: #f3f3f3;
	    }
	    .modal-dialog>.title>.close{
	    	margin-top: .2rem;
	    	height: 1rem;
	    	width: 1rem;
	    	line-height: 1rem;
	    	font-size: 1rem;
	    	text-align: center;
			float: right;
			cursor: pointer;
			border-radius: 50%;
			
	    }
	    .modal-dialog>.title>.close:hover{
	    	background: #999;
	    	color:white;
	    }
	    .modal-dialog>.row>.phone{
			text-indent:5px;
			outline:none;
	    	padding: 0;
	    	border-radius: 3px;
	    	height: 1.6rem;
	    	line-height: 1.6rem;
	    	font-size: 1rem;
	    	vertical-align: middle;
	    	background: rgb(250, 255, 189);
	    }
	    .modal-dialog>.row>.info{
	    	padding: 2px;
	    	height: 1.6rem;
	    	line-height: 1.6rem;
	    	font-size: 1rem;
	    	vertical-align: middle;
	    }
	    .modal-dialog>.row>div>.btn{
			font-size: 0.8rem;
	    	background: #ff9c00;
	    	padding: 4px 12px;
	    	cursor: pointer;
	    	border-radius: 3px;
	    	color: #fff;
	    }