html,body{margin: 0;padding:0;font-family:"微软雅黑","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53";}
body{background:#fff;}
div,p,span,h1,h2,h3,h4,h5,ul,li,a{margin: 0; padding:0;}
img{margin:0; padding:0;border:0;} 
a{text-decoration: none;}
li{list-style:none;}
body{background:url(../images/bg_body.jpg) top center no-repeat}
/* 头部 */
.sl_topBox{width:100%;min-width:1200px;height:30px;position:fixed;top:0;left:0;z-index:999;border-bottom:1px solid #ddd;background:#fff;}
.sl_topMain{width:1200px;height:100%;margin:0 auto;position:relative;}
.sl_timeBox{position:absolute;top:0;line-height:30px;left:0;color:#555;letter-spacing:1px;}
.sl_topMain>ul li{float:left;height:30px;line-height:30px;font-size:16px;cursor:pointer;}
.sl_topMain>ul li a{color:#878787;}
.sl_topMain>ul .sl_rightLine{width:2px;background:#fff;height:15px;margin:7.5px 0;}
.sl_topMain>ul .sl_topNav{padding:0 20px;}
.sl_topMain>ul .sl_topNav>a:hover{color:#24578e;}
.sl_topMain>ul .sl_onlineService{background:#337ccb url(../images/service.png) no-repeat 20px center;text-indent:30px;margin-left:912px;}
.sl_topMain>ul .sl_onlineService a{color:#fff;}
.sl_logoBox{width:1200px;height:110px;margin:31px auto 0 auto;overflow:hidden;}
.sl_logoBox>div{float:left;}
.sl_logoMain{width:505px;height:45px;margin:32.5px 0 32.5px 7px;overflow: hidden;}
.sl_logoMain>div{float:left;}
.sl_logoMain>div>a{width:100%;height:100%;display: block;}
.sl_logoMain>div>a>img{width:100%;height:100%;display: block;}
.sl_logoMain>.sl_bigLogo{width:349px;height:45px;}
.sl_logoMain>.sl_smallLogo{width:156px;height:45px;}
.sl_searchBox{width:340px;height:30px;margin:39px 0 39px 218px;border:1px solid #337ccb;}
.sl_searchBox>input{border:none;height:30px;display:block;float:left;margin:0;padding:0;outline:none;}
.sl_searchBox>input[type='text']{width:289px;text-indent:15px;}
.sl_searchBox>input[type='button']{width:51px;background:#337ccb url(../images/searchIcon.png) no-repeat center center;}
.sl_navBox{width:100%;min-width:1180px;height:42px;background:#337ccb;}
.sl_navList{width:1200px;margin:0 auto;height:42px;}
.sl_navList>ul>li{float:left;line-height:42px;font-size:16px;letter-spacing:1px;}
.sl_navList>ul>li a{color:#fff;}
.sl_navList>ul .sl_serviceList{width:200px;height:42px;background:#24578e;text-indent:48px;color:#fff;cursor:pointer;position: relative;}
.sl_navList>ul .sl_serviceList .sl_navBtn{width:15px;height:10px;display:block;background:url(../images/navIcon.png);position: absolute;right:37px;top:18px;cursor:pointer;}
.sl_navList>ul .sl_serviceList .sl_navBanList{width:200px;height:297px;position: absolute;top:42px;left:0;background:url(../images/bg.png);padding:1.5px 0;z-index:99;display:none;}
.sl_navList>ul .sl_serviceList .sl_navBanList>ul>li{width:165px;height:33px;padding:0 17.5px;background:url(../images/rightIcon.png) no-repeat 176.5px center;font-size:14px;color:#fff;text-align:left;text-indent:0;font-weight:normal;line-height:33px;}
.sl_navList>ul .sl_navLi{padding:0 36px;position:relative;}
.sl_highLight{background:#64aeff;}
.sl_navList>ul .sl_navLi .sl_redNew{width:20px;height:25px;display:block;background: url(../images/new.png);position: absolute; top:-10px;left:126px;z-index: 2;}
.sl_navBanner{width:375px;height:300px;position:absolute;top:0;left:200px;background:rgba(15,50,85,0.8);display:none;z-index:5;filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;}
.sl_navBanner>ul{width:330px;margin:11px 0 0 45px;}
.sl_navBanner>ul>li{width:150px;min-height:32px;line-height:32px;font-size:14px;text-align:left;float:left;padding-right:15px;}
.sl_navBanner>ul>li a{color:#fff;}
.sl_navBanner_service{width:540px;}
.sl_navBanner_service>ul{width:495px;}
.sl_navBanner_Quality{width:705px;}
.sl_navBanner_Quality>ul{width:660px;margin-top:33px}
/*头部结束*/
.sl_indexMain{width:1200px;margin:0 auto;}
.sl_banner {width:100%;height:300px;margin-top:25px;}

/*轮播开始*/
.focus{ position:relative; width:1200px; height:300px; background-color: #000; float: left;}  
.focus img{ width:1200px; height: 300px;} 
.focus .shadow .title{width: 260px; height: 65px;padding-left: 30px;padding-top: 20px;}
.focus .shadow .title a{ text-decoration:none; color:#fff; font-size:14px; font-weight:bolder; overflow:hidden; }
.focus .btn{ position:absolute; bottom:34px; left:510px; overflow:hidden; zoom:1;} 
.focus .btn a{position:relative; display:inline; width:13px; height:13px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }  
.focus .btn a:hover,.focus .btn a.current{  cursor:pointer;background:#fc114a;}  
.focus .fPic{ position:absolute; left:0px; top:0px; }  
.focus .D1fBt{ overflow:hidden; zoom:1;  height:16px; z-index:10;  }  
.focus .shadow{ width:100%; position:absolute; bottom:0; left:0px; z-index:10; height:80px; line-height: 80px; background:rgba(0,0,0,0.6);    
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;  display:block;  text-align:left; }  
.focus .shadow a{ text-decoration:none; color:#fff; font-size:20px; overflow:hidden; margin-left:10px; font-family: "\5FAE\8F6F\96C5\9ED1";}  
.focus .fcon{ position:relative; width:100%; float:left;  display:none; background:#000  }  
.focus .fcon img{ display:block; }  
.focus .fbg{bottom:25px; right:40px; position:absolute; height:21px; text-align:center; z-index: 200; }  
.focus .fbg div{margin:4px auto 0;overflow:hidden;zoom:1;height:14px}    
.focus .D1fBt a{position:relative; display:inline; width:12px; height:12px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }    
.focus .D1fBt .current,.focus .D1fBt a:hover{background:#fc114a;}    
.focus .D1fBt img{display:none}    
.focus .D1fBt i{display:none; font-style:normal; }    
.focus .prev,.focus .next{position:absolute;width:40px;height:74px;background: url(../images/focus_btn.png) no-repeat;}
.focus .prev{top: 50%;margin-top: -37px; left: 0;background-position:0 -74px; cursor:pointer; }  
.focus .next{top: 50%;margin-top: -37px; right: 0;  background-position:-40px -74px;  cursor:pointer;}  
.focus .prev:hover{  background-position:0 0; }  
.focus .next:hover{  background-position:-40px 0;}  

/*轮播结束*/
.sl_indexMain1{width:100%;height:215px;overflow:hidden;margin-top:37px;}
.sl_indexMain1>div{width:570px;height:100%;float:left;}
.sl_indexMain1>.left{margin-right:60px;}
.sl_indexMain1 .titleBox{width:100%;height:55px;background:url(../images/line_03.png) no-repeat 0px bottom;font-size:23px;color:#808184;position:relative;line-height:40px;}
.sl_indexMain1 .titleBox>a{width:30px;height:20px;background:#24578E;position:absolute;top:16px;right:0;color:#fff;display:block;font-size:12px;text-align:center;line-height:20px;border-radius:4px;}
.sl_indexMain1 .contentBox{width:100%;height:160px;overflow:hidden;}
.sl_indexMain1 .contentBox>div{height:100%;float:left;}
.sl_indexMain1 .contentBox>.leftImg{width:200px;margin-top:21px;height:120px;}
.sl_indexMain1 .contentBox>.leftImg>img{width:200px;height:120px;}
.sl_indexMain1 .contentBox>.listBox{width:370px;height:185px;margin-top:15px;}
.sl_indexMain1 .contentBox>.listBox>ul li{width:100%;height:27px;line-height:27px;font-size:14px;list-style:none;text-indent:15px;}
.sl_indexMain1 .contentBox>.listBox>ul li>a{color:#666666;}
.sl_indexMain1 .contentBox>.listBox>ul li>a:hover{color:#ff9c00;}
.sl_indexMain2{width:1200px;height:150px;margin-top:15px;background:#24578e;overflow:hidden;}
.sl_indexMain2>a{display:block;float:left;}
.sl_indexMain2>.sl_link1{width:107px;height:107px;margin:21.5px 0 0 25px;}
.sl_indexMain2>.sl_link2{width:728px;height:98px;margin:26px 0 0 31px;}
.sl_indexMain2>a>img{width:100%;height:100%;}
.sl_indexMain3{width:1200px;margin-top:45px;margin-bottom:40px;}
.sl_indexMain3 .titleBox{width:100%;height:55px;background:url(../images/line2_03.png) no-repeat 0px bottom;font-size:23px;color:#808184;position:relative;line-height:40px;}
.sl_indexMain3 .productsBox{width:1200px;margin-top:23px;overflow:hidden;}
.sl_indexMain3 .productsBox>div{width:270px;height:240px;margin-right:40px;float:left;}
.sl_indexMain3 .productsBox>div img{width:270px;height:130px;}
.sl_indexMain3 .productsBox>div>.productTitle{width:100%;height:29px;margin-top:5px;font-size:14px;line-height:29px;text-align:center;}
.sl_indexMain3 .productsBox>div>.productTitle a{color:#565656;}
.sl_indexMain3 .productsBox>div>.priceBox{width:100%;height:40px;line-height:40px;text-indent:56px;color:#b42717;font-size:24px;}
.sl_indexMain3 .productsBox>div>.priceBox>span{width:38px;height:16px;background:url(../images/text_03.jpg);display:inline-block;margin-left:11px;font-size:12px;color:#fff;text-align:center;line-height:16px;vertical-align:top;margin-top:14px;text-indent:5px;}
.sl_indexMain3 .productsBox>div>.dataBox{width:100%;height:17px;margin-top:15px;overflow:hidden;}
.sl_indexMain3 .productsBox>div>.dataBox>.productType{width:55px;height:17px;line-height:17px;color:#fff;font-size:12px;margin-left:12px;background:url(../images/type_07.jpg);display:block;float:left;text-align:center;}
.sl_indexMain3 .productsBox>div>.dataBox>.date{display:block;float:right;margin-right:12px;font-size:14px;color:#969696;}
/*新闻目录*/
.sl_newsListMain{width:1200px;margin:55px auto;}
.sl_newsListBox{width:960px;margin:0 auto;}
.sl_newsListBox ul li{width:100%;height:45px;list-style:none;line-height:45px;background:url(../images/liIcon_03.jpg) no-repeat left center;font-size:16px;overflow:hidden;}
.sl_newsListBox ul li a{width:835px;height:100%;display:block;float:left;color:#666;margin-left:17px;line-height:45px;}
.sl_newsListBox ul li span{display:block;float:right;font-size:16px;color:#666;line-height:45px;}
.sl_pageBox{width:1200px;height:34px;margin:40px auto 0 auto;text-align:center;font-size:12px;color:#000;}
.sl_pageBox>span{margin:0 4px;}
.sl_pageBox>a{margin-left:8px;color:#000;}
.sl_pageBox>a:hover{color:#545454;}
/*新闻内容*/
.sl_newsContentMain{width:1200px;margin:40px auto;}
.sl_newsContentMain>.title{width:100%;height:109px;line-height:109px;font-size:24px;color:#595959;text-align:center;}
.sl_newsContentMain>.newsImg{width:623px;height:398px;margin:0 auto;}
.sl_newsContentMain>.newsImg>img{width:623px;height:398px;}
.sl_newsContentMain>.text{width:100%;margin-top:57px;line-height:30px;font-size:13px;color:#333;text-indent:2em;}
/*产品详情*/
.sl_productsMain{width:1200px;margin:40px auto;}
.sl_productsTitle{width:100%;height:55px;margin-top:50px;text-align:center;line-height:55px;color:#666;font-size:24px;}
.sl_productsMain>.editText{margin-top:40px;width:100%;}
.sl_productsMain>.editText>.editTextTitle{width:100%;height:52px;}
.sl_productsMain>.editText>.editTextContent{width:1140px;padding:27px 30px 45px 30px;line-height:30px;font-size:16px;color:#595959;text-indent: 2em;background:#eee;}
.sl_productsMain>.priceBox{width: 100%;height: 40px;line-height: 40px;text-indent: 34px;color: #b42717;font-size: 24px;margin-top:45px;}
.sl_productsMain>.priceBox>.describe{width: 38px;height: 16px;background: url(../images/text_03.jpg);display: inline-block;margin-left: 11px;font-size: 12px;color: #fff;text-align: center;line-height: 16px;vertical-align: top;margin-top: 14px;text-indent: 5px;}
.sl_productsMain>.priceBox>.allMoney{font-size:14px;color:#a49999;}
.sl_productsMain>.linkBox{width:100%;height:50px;margin-top:45px;overflow:hidden;}
.sl_productsMain>.linkBox>a{width:182px;height:50px;line-height:50px;margin-right:40px;text-align:center;color:#fff;font-size:16px;font-weight:600;display:block;float:left;letter-spacing:1px;}

/* 版权 */
.foot-copyright{margin:0 auto;padding: 15px 0;width: 1200px;}
.foot-copyright p{ padding: 3px 0; font-size: 12px;color:#8b8b8b;text-align: center;}
.foot-copyright p a, .foot-copyright p a:hover{display: inline-block;padding-bottom: 6px; color: #2b2b2b;}
.foot-copyright p span{display: inline-block;padding:0 10px;}
.sl_a{margin-right: 10px;width: 24px;height: 24px;vertical-align: middle;}
.sl_weixin{background: url(../images/weixin.png) no-repeat}
.sl_weibo{background:url(../images/weibo.png) no-repeat;}
/*在线留言*/
.sl_messageBox{width:1200px;height:360px;margin:45px auto 0 auto;}
.sl_messageBox .titleBox{width: 100%;height: 55px;background: url(../images/line_03.png) no-repeat 0px bottom;font-size: 23px;color: #808184;position: relative;line-height: 40px;}
.sl_messageBox textarea{width:1200px;height:200px;margin-top:30px;}
.sl_messageBox>a{width:182px;height:36px;display:block;background:#ff9c00;line-height:36px;float:right;margin-top:30px;color:#fff;text-decoration:none;text-align:center;}
.sl_messageContainer{width:1200px;margin:30px auto;}
.sl_messageContainer>div{width:1200px;border-bottom:1px dashed #656464;padding-bottom:25px;}
.sl_messageContainer>div>.sl_user{width:100%;height:45px;line-height:45px;color:#ffb644;}
.sl_messageContainer>div>.text{width:100%;line-height:28px;font-size:14px;color:#656464;}
.sl_messageContainer>div>p{font-size:14px;color:#656464;text-align:right;}
.sl_pageBox2{width:1200px;height:31px;margin:60px auto 0 auto;text-align:center;color:#c7c7c7;line-height:29px;padding-bottom:60px;}
.sl_pageBox2>a{height:29px;padding:0 10px;display:inline-block;vertical-align:top;border:1px solid #c7c7c7;color:#c7c7c7;line-height:29px;margin-left:4px;}
.sl_pageBox2>span{padding:0 4px;}
/*找回密码*/
.sl_submitBox{width:180px;margin-left:268px;}
.sl_registerMain{width:1000px;margin:0 auto;}
.sl_mainTop{width:100%;height:108px;border-bottom:1px solid #ebebeb;overflow:hidden;}
.sl_mainTop>div{height:100%;}
.sl_mainTop>.sl_logoBox{width:535px;height:100%;float:left;margin-left:40px;background:url(../images/sl_logo_02.png);}
.sl_mainTop>.sl_logo_login{background:url(../images/sl_loginLogo_02.png) no-repeat;}
.sl_mainTop>.sl_regusterLogin{width:210px;float:right;line-height:108px;}
.sl_mainTop>.sl_regusterLogin>span{font-size:12px;color:#656565;}
.sl_mainTop>.sl_regusterLogin>a{width:62px;height:30px;border:1px solid #ddd;background:#f7f7f7;color:#000002;line-height:30px;border-radius:4px;margin-left:6px;display:inline-block;vertical-align:top;text-align:center;margin-top:39px;font-size:13px;}
.sl_mainTop>.sl_regusterLogin>a:hover{background:#1d82d4;color:#fff;}
.sl_mainContent{width:100%;margin-top:67px;overflow:hidden;}
.sl_mainContent>div{float:left;}
.sl_mainContent>.sl_inputMain{width:637px;}
.sl_mainContent>.sl_inputMain>.sl_inputBox{width:100%;height:40px;overflow:hidden;}
.sl_mainContent>.sl_inputMain>.sl_inputBox>label{width:168px;height:40px;padding-right:10px;text-align:right;font-size:16px;color:#666695;display:block;float:left;line-height:40px;}
.sl_mainContent>.sl_inputMain>.sl_inputBox>input{width:348px;height:38px;border:1px solid #ddd;outline:none;padding:0;font-size:14px;text-indent:14px;color:#a9a9a9;line-height:38px;}
.sl_mainContent>.sl_inputMain>.sl_alertBox{width:443px;height:32px;margin-left:178px;line-height:32px;padding-left:16px;background:url(../images/sl_alertIcon_03.png) no-repeat left center;font-size:14px;color:#ec6a00;text-indent:10px;}
.sl_mainContent>.sl_inputMain>.sl_registerBtn{width:348px;height:50px;margin-left:178px;background:#1d82d4;text-align:center;line-height:50px;font-size:18px;color:#fff;border-radius:4px;display:block;}
.sl_weiChatBox{width:253px;height:292px;border:1px solid #ddd;}
.sl_weiChatBox>.sl_weiTitle{width:120px;height:61px;background:url(../images/sl_weiChat_03.png) no-repeat left center;margin-left:65px;line-height:61px;font-size:14px;color:#666695;text-indent:51px;font-weight:bold;}
.sl_weiChatBox>.sl_erweimaBox{width:211px;height:211px;margin:0 auto;}
.sl_weiChatBox>.sl_erweimaBox>img{width:211px;height:211px;}
.phcolor{ color:#999;}
.sl_layerMain{width:100%;height:100%;background:rgba(0,0,0,0.5);position:fixed;top:0;left:0;}
.sl_layerContent{width:570px;height:295px;background:#fff;position: absolute;top:50%;left:50%;margin-left:-275px;margin-top:-147.5px;}
.sl_closeBtnBox{width:100%;height:40px;}
.sl_closeBtn{width:40px;height:40px;background:url(../images/sl_closeBtn_03.png) no-repeat center center;margin-left:497px;cursor:pointer;}
.sl_okBox{width:100%;height:135px;}
.sl_okBox>img{width:97px;height:135px;margin:0 auto;display:block;}
.sl_btnBox{width:420px;height:50px;margin:33px auto;overflow:hidden;}
.sl_btnBox>a{width:200px;height:50px;background:#1d82d4;text-align:center;line-height:50px;font-size:18px;color:#fff;border-radius:4px;display:block;float:left;}
/*底部版权部分*/
.sl_footBox{width:100%;height:200px;background:#24578e;min-width:1200px;font-size:14px;}
.sl_footMain{width:1200px;height:100%;margin:0 auto;}
.sl_footLink{width:1200px;height:76px;display:block;}
.sl_footLink>li{float:left;}
.sl_footLink>.sl_linkLi{padding:35px 27px 22px 27px;}
.sl_footLink>.sl_footLine{width:1px;height:17px;background:#aab8cc;margin-top:35px;}
.sl_footLink>.sl_linkLi>a{color:#aab8cc;}
.sl_footLink>.sl_linkLi>a:hover{color:#fff;}
.sl_weichat{position: relative;}
.sl_weichat>span{display:block;width:99px;height:107px;position: absolute;top:52px;left:14.5px;background:url(../images/weichatBox.png);display:none;}
.sl_weichat>span>img{width:91px;height:91px;margin:12px 4px 0 4px;}
.sl_footText{width:100%;text-align:center;line-height:25px;color:#aab8cc;}
/*登录注册、留言弹框*/
.sl_registerMain{width:1000px;margin:0 auto;}
.sl_mainTop{width:100%;height:108px;border-bottom:1px solid #ebebeb;overflow:hidden;}
.sl_mainTop>div{height:100%;}
.sl_mainTop>.sl_logoBox{width:535px;height:100%;float:left;margin-left:40px;background:url(../images/sl_logo_02.png);}
.sl_mainTop>.sl_logoBox>a{width:535px;height:108px;display:block;}
.sl_mainTop>.sl_logoBox>a>img{width:535px;height:108px;}
.sl_mainTop>.sl_regusterLogin{width:210px;float:right;line-height:108px;}
.sl_mainTop>.sl_regusterLogin>span{font-size:12px;color:#656565;}
.sl_mainTop>.sl_regusterLogin>a{width:62px;height:30px;border:1px solid #ddd;background:#f7f7f7;color:#000002;line-height:30px;border-radius:4px;margin-left:6px;display:inline-block;vertical-align:top;text-align:center;margin-top:39px;font-size:13px;}
.sl_mainTop>.sl_regusterLogin>a:hover{background:#1d82d4;color:#fff;}
.sl_mainContent{width:100%;margin-top:67px;overflow:hidden;}
.sl_mainContent>div{float:left;}
.sl_mainContent>.sl_inputMain{width:637px;}
.sl_mainContent>.sl_inputMain>.sl_inputBox{width:100%;height:40px;overflow:hidden;}
.sl_mainContent>.sl_inputMain>.sl_inputBox>label{width:168px;height:40px;padding-right:10px;text-align:right;font-size:16px;color:#666695;display:block;float:left;line-height:40px;}
.sl_mainContent>.sl_inputMain>.sl_inputBox>input{width:348px;height:38px;border:1px solid #ddd;outline:none;padding:0;font-size:14px;text-indent:14px;color:#a9a9a9;line-height:38px;}
.sl_mainContent>.sl_inputMain>.sl_alertBox{width:443px;height:32px;margin-left:178px;line-height:32px;padding-left:16px;background:url(../images/sl_alertIcon_03.png) no-repeat left center;font-size:14px;color:#ec6a00;text-indent:10px;}
.sl_mainContent>.sl_inputMain>.sl_registerBtn{width:348px;height:50px;margin-left:178px;background:#1d82d4;text-align:center;line-height:50px;font-size:18px;color:#fff;border-radius:4px;display:block;}
.sl_weiChatBox{width:253px;height:292px;border:1px solid #ddd;}
.sl_weiChatBox>.sl_weiTitle{width:120px;height:61px;background:url(../images/sl_weiChat_03.png) no-repeat left center;margin-left:65px;line-height:61px;font-size:14px;color:#666695;text-indent:51px;font-weight:bold;}
.sl_weiChatBox>.sl_erweimaBox{width:211px;height:211px;margin:0 auto;}
.sl_weiChatBox>.sl_erweimaBox>img{width:211px;height:211px;}
.phcolor{ color:#999;}
.sl_layerMain{width:100%;height:100%;background:rgba(0,0,0,0.5);position:fixed;top:0;left:0;}
.sl_layerContent{width:570px;height:295px;background:#fff;position: absolute;top:50%;left:50%;margin-left:-275px;margin-top:-147.5px;}
.sl_closeBtnBox{width:100%;height:40px;}
.sl_closeBtn{width:40px;height:40px;background:url(../images/sl_closeBtn_03.png) no-repeat center center;margin-left:497px;cursor:pointer;}
.sl_okBox{width:100%;height:135px;}
.sl_okBox>img{width:97px;height:135px;margin:0 auto;display:block;}
.sl_btnBox{width:420px;height:50px;margin:33px auto;overflow:hidden;}
.sl_btnBox>a{width:200px;height:50px;background:#1d82d4;text-align:center;line-height:50px;font-size:18px;color:#fff;border-radius:4px;display:block;float:left;}