@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; border:0;}
body{ font-size:12px; font-family:"微软雅黑"; color:#222; background:#f5f5f5;}
a{ text-decoration:none;}
ul{ list-style:none;}
.clear{ clear:both;}
.fl{ float:left;}
.fr{ float:right;}
.wrape{ width:1000px; margin:0 auto;}
/*错误页*/
.error-page{ background-color:#fff!important;}
.error1{ width:630px; height:260px; position:absolute; left:50%; top:50%; margin-left:-315px; margin-top:-130px;}
.error1 .img2{ margin-top:52px;}
.error-btn{ background:url(../images/error-btn.gif) no-repeat left; width:80px; height:34px; line-height:34px; margin:15px 0px 0px 5px; text-align:center; display:block; font-size:14px; font-family:"微软雅黑"; color:#666; text-decoration:none;}
.error-btn:hover{ background:url(../images/error-btn.gif) no-repeat right; color:#fff; text-decoration:none;}
.error2{ width:870px; height:260px; position:absolute; left:50%; top:50%; margin-left:-435px; margin-top:-130px;}
.margin06{ margin-top:52px;}
.error3{ width:920px; height:260px; position:absolute; left:50%; top:50%; margin-left:-460px; margin-top:-130px;}
.error-notice{width:460px; height:260px; position:absolute;  top:50%; left:50%; margin-top:-130px; margin-left:-230px;}